<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('TEAL')" data-ng-class="{active: currency.symbol == 'TEAL'}">TEAL</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mTEAL')" data-ng-class="{active: currency.symbol == 'mTEAL'}">mTEAL</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('µTEAL')" data-ng-class="{active: currency.symbol == 'µTEAL'}">µTEAL</a>
  </li>
</ul>

